<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<settings>
	<!-- Mandatory Configuration -->
        <item datatype="str" path="plugin/uuid"><![CDATA[3175083c-6b74-4006-b1b8-044a723c68c0]]></item>
	<item datatype="str" path="plugin/classpath"><![CDATA[pals.plugins.handlers.DefaultQC]]></item>
</settings>
