<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<settings>
	<!-- Mandatory Configuration -->
        <item datatype="str" path="plugin/uuid"><![CDATA[ae69d930-383a-4b4c-8b23-3cb7d9744221]]></item>
	<item datatype="str" path="plugin/classpath"><![CDATA[pals.plugins.SessionCleaner]]></item>
        <!-- Interval of cleanup - 900000 ms / 15 minutes by default -->
        <item datatype="int" path="interval_ms"><![CDATA[900000]]></item>
</settings>
