<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<settings>
	<!-- Mandatory Configuration -->
        <item datatype="str" path="plugin/uuid"><![CDATA[8c2f597f-2d6e-4494-9c69-60ee1ba2ce81]]></item>
	<item datatype="str" path="plugin/classpath"><![CDATA[pals.plugins.marking.AssignmentMarker]]></item>
        <item datatype="int" path="plugin/version/major"><![CDATA[1]]></item>
        <item datatype="int" path="plugin/version/minor"><![CDATA[0]]></item>
        <item datatype="int" path="plugin/version/build"><![CDATA[0]]></item>
        <!-- The number of threads to simultaneously mark work. -->
        <item datatype="int" path="marking/threads"><![CDATA[8]]></item>
        <!-- The limit of new work fetched each time - should be equal or greater than the number of threads. -->
        <item datatype="int" path="marking/fetch_rate"><![CDATA[16]]></item>
        <!-- The interval of polling the database for new work (milliseconds) - fail-safe. -->
        <item datatype="int" path="marking/poll_interval"><![CDATA[60000]]></item>
        <!-- The timeout period for a criteria to be remarked (milliseconds). -->
        <item datatype="int" path="marking/work_timeout"><![CDATA[120000]]></item>
</settings>
