<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<settings>
	<!-- Mandatory Configuration -->
        <item datatype="str" path="plugin/uuid"><![CDATA[cb7be051-b768-4672-916b-c25e4a1f2535]]></item>
	<item datatype="str" path="plugin/classpath"><![CDATA[pals.plugins.NodeActive]]></item>
        <item datatype="int" path="plugin/version/major"><![CDATA[1]]></item>
        <item datatype="int" path="plugin/version/minor"><![CDATA[0]]></item>
        <item datatype="int" path="plugin/version/build"><![CDATA[0]]></item>
        <item datatype="str" path="plugin/dependencies"><![CDATA[lib/*]]></item>
        <!-- Interval of updating the node status - 30000 ms / 30 seconds by default -->
        <item datatype="int" path="interval_ms"><![CDATA[30000]]></item>
</settings>
