# Ignore all Java key-stores
*.jks

# Main Directory
Netbeans 7.4.txt
Todo.txt
/Database/
/apache-tomcat-7.0.47/

# Base
/Base/dist/
/Base/build/

# Website
/Website/build/
/Website/dist/

# Plugin: Example
/Plugins/Example/nbproject/private/
/Plugins/Example/build/
/Plugins/Example/dist/
/Node/nbproject/private/
/Node/build/
/Node/dist/
/Plugins/Runtime Plugin Reloader/nbproject/private/
/Plugins/Runtime Plugin Reloader/dist/
/Plugins/Runtime Plugin Reloader/build/
/Plugins/NodeActive/nbproject/private/
/Plugins/NodeActive/build/
/Plugins/NodeActive/dist/
/Plugins/SessionCleaner/nbproject/private/
/Plugins/SessionCleaner/dist/
/Plugins/SessionCleaner/build/
/Plugins/DefaultAuth/nbproject/private/
/Plugins/DefaultAuth/build/
/Plugins/DefaultAuth/dist/
/Plugins/Captcha/nbproject/private/
/Plugins/Captcha/build/
/Plugins/Captcha/dist/
/Plugins/Modules/nbproject/private/
/Plugins/Modules/build/
/Plugins/Modules/dist/
/Plugins/DefaultQuestionCriteriaHandlers/nbproject/private/
/Plugins/DefaultQuestionCriteriaHandlers/build/
/Plugins/DefaultQuestionCriteriaHandlers/dist/
/Plugins/Questions/nbproject/private/
/Plugins/Questions/build/
/Plugins/Questions/dist/
/Plugins/AssignmentMarker/nbproject/private/
/Plugins/AssignmentMarker/build/
/Plugins/AssignmentMarker/dist/
/JavaSandbox/nbproject/private/
/JavaSandbox/build/
/JavaSandbox/dist/
/JavaApplication7/nbproject/private/
/JavaApplication7/build/
/Plugins/Jetty/nbproject/private/
/Plugins/Jetty/build/
/Plugins/Jetty/dist/
/JavaApplication8/nbproject/private/
/JavaApplication8/build/
/Plugins/Email/nbproject/private/
/Plugins/Email/dist/
/Plugins/Email/build/
/Plugins/Stats/nbproject/private/
/Plugins/Stats/build/
/Plugins/Stats/dist/