# Main Directory
Netbeans 7.4.txt

# Base
/Base/dist/
/Base/build/

# Website
/Website/build/
/Website/dist/

# Plugin: Example
/Plugins/Example/nbproject/private/
/Plugins/Example/build/
/Plugins/Example/dist/
