# Ignore all Java key-stores
*.jks

# Main Directory
Netbeans 7.4.txt
Todo.txt
/Database/
/apache-tomcat-7.0.47/

# Base
/Base/dist/
/Base/build/

# Website
/Website/build/
/Website/dist/

# Plugin: Example
/Plugins/Example/nbproject/private/
/Plugins/Example/build/
/Plugins/Example/dist/
/Node/nbproject/private/