<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<settings>
	<!-- Mandatory Configuration -->
        <item datatype="str" path="plugin/uuid"><![CDATA[85b9c462-2a10-47c8-a04c-c3242549b8e7]]></item>
	<item datatype="str" path="plugin/classpath"><![CDATA[pals.plugins.auth.DefaultAuth]]></item>
</settings>
