<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<settings>
	<!-- Mandatory Configuration -->
        <item datatype="str" path="plugin/uuid"><![CDATA[85b9c462-2a10-47c8-a04c-c3242549b8e7]]></item>
	<item datatype="str" path="plugin/classpath"><![CDATA[pals.plugins.auth.DefaultAuth]]></item>
        <item datatype="int" path="plugin/version/major"><![CDATA[1]]></item>
        <item datatype="int" path="plugin/version/minor"><![CDATA[0]]></item>
        <item datatype="int" path="plugin/version/build"><![CDATA[0]]></item>
        <!-- Optional: captcha -->
        <item datatype="str" path="plugin/plugin_dependencies"><![CDATA[f3d206bd-6307-494c-b56b-213bbb6ddb1c]]></item>
        <!-- Default user-group for admin users -->
        <item datatype="int" path="auth/default_group_admin"><![CDATA[1]]></item>
        <!-- Default user-group for new users -->
        <item datatype="int" path="auth/default_group"><![CDATA[2]]></item>
        <!-- Optional Features -->
        <item datatype="bool" path="feature/register"><![CDATA[true]]></item>
        <item datatype="bool" path="feature/recover"><![CDATA[true]]></item>
</settings>
