<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<settings>
	<!-- Mandatory Configuration -->
        <item datatype="str" path="plugin/uuid"><![CDATA[62d5bad9-9d6f-45d2-a112-dd0a268503cc]]></item>
	<item datatype="str" path="plugin/classpath"><![CDATA[pals.plugins.Stats]]></item>
        <item datatype="int" path="plugin/version/major"><![CDATA[1]]></item>
        <item datatype="int" path="plugin/version/minor"><![CDATA[0]]></item>
        <item datatype="int" path="plugin/version/build"><![CDATA[0]]></item>
</settings>
