<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<settings>
	<!-- Mandatory Configuration -->
        <item datatype="str" path="plugin/uuid"><![CDATA[3e4b7c9f-6949-470f-a66b-6c4976eebf0c]]></item>
	<item datatype="str" path="plugin/classpath"><![CDATA[pals.plugins.RuntimePluginReloader]]></item>
        <item datatype="int" path="plugin/version/major"><![CDATA[1]]></item>
        <item datatype="int" path="plugin/version/minor"><![CDATA[0]]></item>
        <item datatype="int" path="plugin/version/build"><![CDATA[0]]></item>
        <!-- Polling interval of file-system -->
        <item datatype="int" path="interval_ms"><![CDATA[5000]]></item>
</settings>
