<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<settings>
	<!-- Mandatory Configuration -->
        <item datatype="str" path="plugin/uuid"><![CDATA[bf6368b9-e62a-43fc-a060-20d776e59949]]></item>
	<item datatype="str" path="plugin/classpath"><![CDATA[pals.plugins.EmailSender]]></item>
        <item datatype="int" path="plugin/version/major"><![CDATA[1]]></item>
        <item datatype="int" path="plugin/version/minor"><![CDATA[0]]></item>
        <item datatype="int" path="plugin/version/build"><![CDATA[0]]></item>
        <!-- Third-party libs -->
        <item datatype="str" path="plugin/dependencies"><![CDATA[lib/*]]></item>
        <!-- Interval for polling queue - 30 s -->
        <item datatype="int" path="poll_queue_ms"><![CDATA[30000]]></item>
        <!-- Interval for resending failed e-mails - 120 s -->
        <item datatype="int" path="resend_ms"><![CDATA[120000]]></item>
        <!-- Maximum attempts of sending an e-mail -->
        <item datatype="int" path="max_send_attempts"><![CDATA[5]]></item>
</settings>
