<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<settings>
	<!-- Mandatory Configuration -->
        <item datatype="str" path="plugin/uuid"><![CDATA[94885567-beb2-49a1-8210-f9b6bfe7142b]]></item>
	<item datatype="str" path="plugin/classpath"><![CDATA[pals.plugins.Questions]]></item>
        <item datatype="int" path="plugin/version/major"><![CDATA[1]]></item>
        <item datatype="int" path="plugin/version/minor"><![CDATA[0]]></item>
        <item datatype="int" path="plugin/version/build"><![CDATA[0]]></item>
        <!-- Optional: captcha -->
        <item datatype="str" path="plugin/plugin_dependencies"><![CDATA[f3d206bd-6307-494c-b56b-213bbb6ddb1c]]></item>
</settings>
