<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<settings>
	<!-- Mandatory Configuration -->
        <item datatype="str" path="plugin/uuid"><![CDATA[fcf6ac27-1fac-4b9f-915c-2c352eece4fd]]></item>
	<item datatype="str" path="plugin/classpath"><![CDATA[pals.plugins.Modules]]></item>
</settings>
