::selection
{
	background: #0C0;
}
html
{
	background: #CCC;
}
body
{
	font: normal 14px Arial,Helvetica;
	margin: 0em;
	padding: 0em 0em 1em 0em;
}
.clear
{
	clear: both;
}
.fl
{
	float: left;
}
.fr
{
	float: right;
}
.tal
{
	text-align: left;
}
.tac
{
	text-align: center;
}
.tar
{
	text-align: right;
}
.layout_body .banner
{
	width: 100%;
}
.layout_body .banner .items
{
	padding: 0.5em;
	width: 64em;
	margin: auto;
}
.layout_body .banner .items h1
{
	margin: 0em;
	color: #999;
	font-weight: normal;
	text-shadow: 0.1em 0.1em 0.1em #BBB;
}
.layout_body .nav
{
	position: relative;
	width: 100%;
	background: #999;
	z-index: 1;
}
.layout_body .nav .ritems
{
	float: right;
	color: #050;
	padding: 0.4em;
	height: 1em;
	line-height: 1em;
}
.layout_body .nav .ritems a
{
	color: #FFF;
}
.layout_body .nav .ritems a:hover, .layout_body .nav .ritems a:focus
{
	color: #DDD;
}
.layout_body .nav .items
{
	/* Root items container */
	background: #0C0;
	width: 65em;
	margin: auto;
	padding: 0em;
	list-style: none;
	color: #030;
}
.layout_body .nav .items li
{
	/* Root item */
	display: inline-block;
	float: left;
	padding: 0.5em;
	overflow: hidden;
	height: 1em;
	line-height: 1em;
	text-align: center;
	border-right: solid 0.2em #0B0;
}
.layout_body .nav .items li:hover, .layout_body .nav .items li:focus
{
	/* Root item hover */
	background: #090;
	overflow: visible;
}
.layout_body .nav .items li ul
{
	/* Sub-item container */
	display: block;
	position: relative;
	left: -0.5em;
	top: 0.5em;
	padding: 0em;
	margin: 0em;
}
.layout_body .nav .items li ul li
{
	/* Sub-item */
	display: block;
	width: 100%;
	background: #0C0;
	float: none;
	border: none;
}
.layout_body .nav .items li ul li:hover, .layout_body .nav .items li ul li:focus
{
	/* Sub-item hover */
	background: #060;
}
.layout_body .nav .items li a
{
	/* All hyperlinks */
	display: block;
	width: 100%;
	color: #FFF;
	text-decoration: none;
}
.layout_body .content
{
	border-radius: 0.8em;
	border-top-left-radius: 0em;
	border-top-right-radius: 0em;
	width: 65em;
	background: #FFF;
	margin: auto;
	min-height: 40em;
	box-shadow: 0em 0em 0.7em #666;
}
.layout_body .footer
{
	margin: 0.5em;
	text-align: center;
	color: #999;
	text-shadow: 0em 0em 0.2em #BBB;
}
.footer a
{
	color: #999;
}
.layout_body .footer a:hover, .layout_body .footer a:focus
{
	color: #090;
}
/* Content */
.layout_body .content h2
{
	margin: 0em;
	padding: 0.25em;
	font-weight: normal;
}
.layout_body .content h2, .layout_body .content h2 a
{
	color: #0C0;
}
.layout_body .content h3
{
	margin: 0em;
	padding: 0.25em;
}
.layout_body .content h3, .layout_body .content h3 a
{
	color: #999;
}
.layout_body .content p, .layout_body .content .p
{
	margin: 0em;
	padding: 0.5em;
}
.layout_body .content a
{
	color: #090;
}
.layout_body .content a:hover, .layout_body .content a:focus
{
	color: #333;
}
/* Tables ~ shared */
.layout_body .content table tr th,
.layout_body .content table tr td
{
	text-align: center;
}
.layout_body .content table input[type=submit], .layout_body .button
{
	margin: 0em;
	border: solid 0.1em #060;
	border-radius: 0.4em;
	padding: 0.25em 0.5em;
	background: #0C0;
	color: #FFF !important;
	background-image: url('../images/layout_button.png');
	background-repeat: repeat-x;
	background-size: auto 100%;
	text-shadow: 0em -0.1em 0.1em #333;
	text-decoration: none;
	font: inherit;
}
.layout_body .content table input[type=submit]:hover, .layout_body .content table input[type=submit]:focus,
.layout_body .content .button:hover, .layout_body .content .button:focus
{
	background-color: #999;
	border-color: #666;
	cursor: pointer;
}
.layout_body .content table input[type=text], .layout_body .content table input[type=password], .layout_body table textarea,
.layout_body .content .textbox
{
	border: solid 0.2em #CCC;
	background: #EEE;
	padding: 0.25em;
	color: #333;
}
.layout_body .content table input[type=file]
{
	border: solid 0.2em #CCC;
	background: #DDD;
}
.layout_body .content table textarea
{
	width: 100%;
	box-sizing: border-box;
}
.layout_body .content table input[type=text]:focus, .layout_body .content table input[type=text]:hover,
.layout_body .content table input[type=password]:focus, .layout_body .content table input[type=password]:hover,
.layout_body .content table input[type=file]:focus, .layout_body .content table input[type=file]:hover,
.layout_body .content table textarea:focus, .layout_body .content table textarea:hover,
.layout_body .content .textbox:focus, .layout_body .content .textbox:hover
{
	box-shadow: #CCC 0em 0em 0.5em;
}
.layout_body .content table input[type=checkbox] + label
{
	border: solid 0.2em #CCC;
	border-radius: 0.25em;
	padding: 0.2em;
	cursor: pointer;
	text-indent: 12em;
}
.layout_body .content table input[type=checkbox] + label:hover, .layout_body .content table input[type=checkbox] + label:focus
{
	border-color: #999;
	background: #DDD;
}
.layout_body .content table input[type=checkbox]:checked + label
{
	border-color: #999;
	background: #CCC;
	color: #333;
}
/* Table 1 ~ data */
.layout_body .content .table
{
	margin: 0.5em auto;
	border-collapse: collapse;
}
.layout_body .content .table tr:nth-child(odd)
{
	background: #EEE;
}
.layout_body .content .table th,
.layout_body .content .table td
{
	border: solid 0.2em #999;
	padding: 0.25em 0.5em;
}
.layout_body .content .table th
{
	background: #CCC;
	color: #333;
}
/* Table 2 ~ forms */
.layout_body .content .table2
{
	margin: 0.5em auto;
	border-collapse: collapse;
}
.layout_body .content .table2 th,
.layout_body .content .table2 td,
.layout_body .content .table4 th,
.layout_body .content .table4 td
{
	padding: 0.5em;
	vertical-align: middle;
}
.layout_body .content table th.vat,
.layout_body .content table td.vat
{
	vertical-align: top !important;
}
.layout_body .content .table2 th,
.layout_body .content .table4 th
{
	background: #CCC;
}
.layout_body .content .table2 .cells2 th,
.layout_body .content .table2 .cells2 td,
.layout_body .content .table4 .cells2 th,
.layout_body .content .table4 .cells2 td
{
	width: 50%;
}
/* Table 3 ~ page related */
.layout_body .table3
{
	margin: 0.5em auto;
	border-collapse: collapse;
}
.layout_body .table3 tr th,
.layout_body .table3 tr td
{
	padding: 0.5em;
	color: #333;
	vertical-align: top;
}
.layout_body .table3 tr th
{
	background: #CCC;
}
.layout_body .table3 tr td
{
	border-left: solid 0.2em #CCC;
	border-right: solid 0.2em #CCC;
	border-bottom: solid 0.2em #CCC;
}
.layout_body .table3 tr td:first-child
{
	border-left: none;
}
.layout_body .table3 tr td:last-child
{
	border-right: none;
}
/* Table 4 - Assignment Instance Layout */
.layout_body .content .table4
{
	border-collapse: collapse;
	width: 100%;
	box-sizing: border-box;
}
.layout_body .content .table4 tr td
{
	text-align: left;
}
/* Container */
.layout_body .container
{
	margin: 0.5em;
	border: solid 0.2em #0C0;
}
.layout_body .container .title
{
	background: #0C0;
	padding: 0.25em;
	font-size: larger;
	color: #FFF;
}
/* Success/error containers */
.layout_body .success, .layout_body .error, .layout_body .warning, .layout_body .info
{
	margin: 0.5em !important;
	padding: 0.5em;
}
.layout_body .success
{
	border: solid 0.2em #060;
	background: #9F9;
	color: #060;
}
.layout_body .warning
{
	background: #FF9;
	color: #C90;
	border: solid 0.2em #C90;
}
.layout_body .info
{
	background: #9CF;
	color: #06C;
	border: solid 0.2em #06C;
}
.layout_body .error
{
	border: solid 0.2em #F00;
	background: #FCC;
	color: #F00;
}
/* Modules */
.layout_body .content .table3 .module_col1
{
	width: 30em;
}
.layout_body .content .modules tr td:nth-child(1),
.layout_body .content .modules_admin tr td:nth-child(1),
.layout_body .content .modules_assignments tr td:nth-child(1)
{
	text-align: left;
}
/* Admin ~ Modules */
.layout_body .content .table3.modules_admin tr th:nth-child(1),
.layout_body .content .table3.modules_admin tr td:nth-child(1)
{
	width: 18em;
}
.layout_body .content .table3.modules_admin tr th:nth-child(2),
.layout_body .content .table3.modules_admin tr td:nth-child(2),
.layout_body .content .table3.modules_admin tr th:nth-child(3),
.layout_body .content .table3.modules_admin tr td:nth-child(3)
{
	width: 4em;
}
.layout_body .content .table3.modules_admin tr th:nth-child(4),
.layout_body .content .table3.modules_admin tr td:nth-child(4)
{
	width: 24em;
}
/* Admin ~ Questions */
.layout_body .table3.questions tr th:nth-child(1),
.layout_body .table3.qcriteria tr th:nth-child(1)
{
	width: 30em;
}
.layout_body .table3.questions tr td:nth-child(1),
.layout_body .table3.qcriteria tr td:nth-child(1)
{
	text-align: left;
}
/* Admin ~ Questions: Forms */
.layout_body .questions_form tr td
{
	text-align: left !important;
	vertical-align: top !important;
}
.layout_body .questions_form tr td.tac
{
	text-align: center !important;
}
.layout_body .questions_form tr td textarea
{
	width: 30em !important;
}
/* Admin ~ Assignments */
.layout_body .table3.module_assignments tr th:nth-child(1),
.layout_body .table3.module_assignments tr td:nth-child(1),
.layout_body .table3.module_ass_active tr th:nth-child(1),
.layout_body .table3.module_ass_active tr td:nth-child(1)
{
	text-align: left !important;
	width: 18em;
}
.layout_body .table3.module_assignments tr td.active
{
	background: #0C0;
	color: #FFF;
}
.layout_body .table3.module_ass_active tr th:nth-child(2),
.layout_body .table3.module_ass_active tr td:nth-child(2)
{
	width: 4em;
}
/* Admin ~ Assignment questions */
.assignment_questions tr th:nth-child(1),
.assignment_questions tr td:nth-child(1),
.assignment_questions tr th:nth-child(2),
.assignment_questions tr td:nth-child(2),
.assignment_questions tr th:nth-child(5),
.assignment_questions tr td:nth-child(5),
.assignment_questions tr th:nth-child(6)
.assignment_questions tr td:nth-child(6)
{
	width: 2em;
}
.assignment_questions tr th:nth-child(3),
.assignment_questions tr td:nth-child(3)
.assignment_questions tr th:nth-child(4),
.assignment_questions tr td:nth-child(4)
{
	width: 12em;
}
.assignment_questions tr td:nth-child(4)
{
	text-align: left !important;
}
.assignment_questions tr th:nth-child(7),
.assignment_questions tr td:nth-child(7),
.assignment_questions tr th:nth-child(8),
.assignment_questions tr td:nth-child(8),
.assignment_questions tr th:nth-child(9),
.assignment_questions tr td:nth-child(9)
{
	width: 4em;
}
/* Assignments */
.layout_body .table3.assignments tr th:nth-child(1),
.layout_body .table3.assignments tr td:nth-child(1)
{
	width: 16em;
	text-align: left !important;
}
.layout_body .table3.assignments tr td:nth-child(11)
{
	text-align: left !important;
}
/* Assignment ~ Instance */
.layout_body .assignment_pages
{
	padding: 0.5em;
	border-bottom: solid 0.4em #0C0;
}
.layout_body .assignment_pages .left,
.layout_body .assignment_pages .right
{
	width: 50%;
}
.layout_body .assignment_pages .left
{
	float: left;
}
.layout_body .assignment_pages .left .button
{
	margin-right: 0.5em;
}
.layout_body .assignment_pages .left .button
{
	background-color: #999;
}
.layout_body .assignment_pages .left .button.selected
{
	background-color: #0C0;
}
.layout_body .assignment_pages .right
{
	float: right;
	text-align: right;
}
.layout_body .assignment_mark
{
	font-size: large;
}
.layout_body .assignment_question_mark
{
	float: right;
	font-size: large;
	color: #0C0;
	margin: 0.25em;
}
.layout_body .assignment_mark .red
{
	color: #F00;
}
.layout_body .assignment_criterias
{
	margin: 0.5em;
	border-bottom: solid 0.2em #CCC;
}
.layout_body .assignment_criterias.manual_marking
{
	background: #FCC;
	border: dashed 0.2em #C00;
}
.layout_body .assignment_criterias .left,
.layout_body .assignment_criterias .right
{
	width: 50%;
}
.layout_body .assignment_criterias .left
{
	float: left;
}
.layout_body .assignment_criterias .right
{
	float: right;
	text-align: right;
}

