<h2>
    <span>Welcome!</span>
</h2>
<div class="fr">
    <img alt="Welcome to PALS" src="/content/images/welcome.png" />
</div>

<p>
    ...to PALS (Programming Assessment and Learning System).
</p>

<#if !(user??)>
    <p>
        Please <a href="/account/login">login</a> to access your assessment and learning environment.
    </p>
</#if>
