<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<settings>
	<!-- Node Identification -->
	<item datatype="str" path="node/uuid"><![CDATA[06e07076-bfd4-449e-bd30-7774b2255c5b]]></item>
	
	<!-- Logging Event Types-->
	<item datatype="str" path="node/logging_types"><![CDATA[All]]></item>
	
	<!-- RMI communications -->
	<item datatype="int" path="rmi/port"><![CDATA[1099]]></item>
	
	<!-- Plugins -->
	<item datatype="str" path="plugins/path"><![CDATA[_plugins]]></item>
	
	<!-- Database -->
	<item datatype="int" path="database/type"><![CDATA[90326058]]></item>
	<item datatype="str" path="database/host"><![CDATA[127.0.0.1]]></item>
	<item datatype="int" path="database/port"><![CDATA[5432]]></item>
	<item datatype="str" path="database/db"><![CDATA[pals]]></item>
	<item datatype="str" path="database/username"><![CDATA[root]]></item>
	<item datatype="str" path="database/password"><![CDATA[]]></item>
	
	<!-- Templates -->
	<!-- The name of the institution -->
	<item datatype="str" path="templates/institution"><![CDATA[University of East Anglia]]></item>
	
	<!-- Storage -->
	<!-- The shared directory of all files. -->
	<item datatype="str" path="storage/path"><![CDATA[../../Shared Storage]]></item>
	
	<!-- Process Credentials -->
	<item datatype="str" path="processes/credentials/username"><![CDATA[test]]></item>
	<item datatype="str" path="processes/credentials/password"><![CDATA[test]]></item>
	
	<!-- Tools -->
	<item datatype="int" path="tools/windows_user_tool/timeout_ms"><![CDATA[12000]]></item>
	<item datatype="str" path="tools/windows_user_tool/path"><![CDATA[_tools/WindowsUserTool.exe]]></item>
	<item datatype="int" path="tools/javasandbox/timeout_ms"><![CDATA[10000]]></item>
	<item datatype="str" path="tools/javasandbox/path"><![CDATA[../JavaSandbox/dist/PALS__Java_Sandbox.jar]]></item>
</settings>
