<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<settings>
	<!-- RMI communications -->
	<item datatype="2" path="rmi/port"><![CDATA[1099]]></item>
	
	<!-- Plugins -->
	<item datatype="0" path="plugins/path"><![CDATA[_plugins]]></item>
	
	<!-- Database -->
	<item datatype="2" path="database/type"><![CDATA[90326058]]></item>
	<item datatype="0" path="database/host"><![CDATA[127.0.0.1]]></item>
	<item datatype="2" path="database/port"><![CDATA[5432]]></item>
	<item datatype="0" path="database/db"><![CDATA[pals]]></item>
	<item datatype="0" path="database/username"><![CDATA[root]]></item>
	<item datatype="0" path="database/password"><![CDATA[]]></item>
	
	<!-- Templates -->
	<item datatype="1" path="templates/enabled"><![CDATA[true]]></item>
	
	<!-- Storage -->
	<!-- The shared directory of all files. -->
	<item datatype="0" path="storage/path"><![CDATA[../../Shared Storage]]></item>
</settings>
