// Node settings ************************************************************************************************************************
// -- The UUID of the node to identify it; this must be unique for every node or you will have critical issues!
settings.node.uuid=9ea97232-7b85-4eca-82dc-945371c96034
// -- Indicates if the node is running within a website/web-application pool.
settings.node.website=1
// -- The IP address of the node; can be left 0 for automatic detection.
settings.node.ip_address=0

// Database ****************************************************************************************************************************
// -- Postgres
settings.database.provider=postgres
settings.database.host=127.0.0.1
settings.database.port=5432
settings.database.user=root
settings.database.pass=
settings.database.db=test
// -- MySQL
//settings.database.provider=mysql
//settings.database.host=127.0.0.1
//settings.database.port=3306
//settings.database.user=root
//settings.database.pass=
//settings.database.db=test

// E-mail queue *************************************************************************************************************************
settings.email.enabled=1
// -- The interval of polling for new e-mail.
settings.email.interval=5000
// -- The mailserver host.
settings.email.host=limpygnome.com
// -- The mailserver username.
settings.email.user=test@limpygnome.com
// -- The mailserver password.
settings.email.pass=password
// -- The mailserver from address.

// Templates ****************************************************************************************************************************
// -- Indicates if templates are enabled; these are required for the e-mail queue and website.
settings.templates.enabled=1
// -- If caching is enabled, all the templates are loaded into RAM; if not, they are retrieved from the database every time.
settings.templates.cached=1

// Logging ******************************************************************************************************************************
settings.logging.enabled=1

// Website ******************************************************************************************************************************
// -- The default URL for requests with a blank URL.
settings.website.default_url=/

// Website - Authentication ************************************************************************************************************
// -- Maximum number of login attempts allowed before a lock-out.
settings.website.auth.max_logins=3
// -- The period for which a user is locked-out.
settings.website.auth.lockout_period=900000