<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<settings>
<item datatype="0" path="hello/world"><![CDATA[hello world!]]></item>
<item datatype="2" path="test/int"><![CDATA[12345]]></item>
<item datatype="4" path="test/float"><![CDATA[123.45679]]></item>
<item datatype="8" path="test/double"><![CDATA[12345.6789]]></item>
<item datatype="1" path="test/bool"><![CDATA[true]]></item>
</settings>
