<#if info??>
    <p class="info">
        ${info?html}
    </p>
</#if>

<#if warning??>
    <p class="warning">
        ${warning?html}
    </p>
</#if>

<#if error??>
    <p class="error">
        ${error?html}
    </p>
</#if>

<#if success??>
    <p class="success">
        ${success?html}
    </p>
</#if>
