<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<settings>
	<!-- RMI communications -->
	<item datatype="string" path="rmi/ip"><![CDATA[127.0.0.1]]></item>
	<item datatype="int" path="rmi/port"><![CDATA[1099]]></item>

	<!-- Storage -->
	<!-- The shared directory of all files. -->
	<item datatype="str" path="storage/path"><![CDATA[M:/Dropbox/UEA/Modules/Year 3/CMPC3P2Y-13 - Project/Codebase/Shared Storage]]></item>
        <!--<item datatype="str" path="storage/path"><![CDATA[\\10.0.0.50\pals]]></item>-->
</settings>
