<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<settings>
	<!-- RMI communications -->
	<item datatype="string" path="rmi/ip"><![CDATA[127.0.0.1]]></item>
	<item datatype="int" path="rmi/port"><![CDATA[1099]]></item>
	
	<item datatype="str" path="rmi/keystore/path"><![CDATA[pals.jks]]></item>
	<item datatype="str" path="rmi/keystore/password"><![CDATA[password]]></item>

	<!-- Storage -->
	<!-- The shared directory of all files. -->
	<item datatype="str" path="storage/path"><![CDATA[../Shared Storage]]></item>
        
        <!-- Indicates if to output debug data / exceptions -->
        <item datatype="bool" path="debug"><![CDATA[true]]></item>
</settings>
